@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    
    
}

html, body{
    background-color:black;
    height: 100vh;
    width: 100vw;
   
}

body{
    background: url("imagens/fundo-madeira.jpg") no-repeat center;
}

main{
    position: relative;
    height: 100vh;
}

section#telefone{
    background-image: url("imagens/frame-iphone.png");
    background-repeat: no-repeat;
    height: 637px;
    width: 311px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

