@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    
    
}

html, body{
    background-color:black;
    height: 100vh;
    width: 100vw;
   
}

body{
    background: url("imagens/fundo-madeira.jpg") no-repeat center;
}

main{
    position: relative;
    height: 100vh;
}

section#telefone{
    background-image: url("imagens/frame-iphone.png");
    background-repeat: no-repeat;
    height: 637px;
    width: 311px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

iframe#tela{
    position: relative;
    top:80px;
    left:22px;
    width: 267px;
    height: 470px;
    
}

section#botões{
    text-align: right;
}

section#botões img{
    width: 50px;
    border-radius: 50%;
    margin: 10px;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.404);
    box-sizing: border-box;
    

}
section#botões img:hover{
    border: 2px solid white;
    transform: translate(-3px, -3px);
    transition: .3s border .2;
    box-shadow: rgba(0, 0, 0, 0.651);

}